.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.not-found-image {
  margin-bottom: 15px;
}

.not-found-heading {
  font-family: Roboto;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}

.not-found-description {
  color: #7e858e;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  max-width: 80%;
  text-align: center;
}
